* {
    margin: 0;

}


body{
    background: #242248;
    overflow: scroll;

}

.container{
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    color: #3e3e3e;
    overflow: scroll;
}

.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 700px;
}
.top-bar div{
    display: flex;
    align-items: center;
}

.arrow-img{
    width: 25px;
}
.heart-img{
    width: 2px;
}
.dot-img{
    width: 5px;
    margin-left: 15px;
}

.container h1{
    text-align: center;
    font-size: 22px;
    font-weight: 600;
}
.review {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.review img {
    width: 18px;
    margin-right: 5px;
}
.product-img{
    width: 100%;
    margin: 20px 0 10px;
    border-radius: 12px;
}
.container h3{
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
}

.select-size span{
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border: 1px solid #777;
    border-radius: 10px;
    margin: 10px 2px;
}

.select-size span:hover{
    cursor: pointer;
    background: #ff6c78;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    border: 1px solid #ff6c78;
}

.select-color span{
    display: inline-block;
    margin: 10px 3px;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
}

.color1{
    background: #fcb1a0;
}
.color2{
    background: #afc7ff;
}
.color3{
    background: #e4b0fc;
}
.color4{
    background: #ff9fb5;
}
.color5{
    background: #90cad5;
}
.color6{
    background: #abf5cd;
}

.accordion {
    background-color: #eee;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }